  *{
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
} 

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: black ;
    height: 25vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.text{
    display: flex;
    height: 30px;
    /* width: 150px; */
    background: url(naruto.gif);
    background-size: 960px;
    background-repeat: no-repeat;
    font-size: 220px;
    font-weight: bolder;
    font-family: 'Raleway',sans-serif;
     -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;  */
     align-items: center; 
    flex-grow: 1;
}
